@page "/dashboard"

<AuthorizeView>

    <Authorized>
        <h3>Hi there!</h3>
    </Authorized>

    <NotAuthorized>
            <div class="container">
                <h1>You are not authorized to access this page</h1>
            </div>
        </NotAuthorized>

</AuthorizeView>
@code {

}
