@page "/dashboard"
@using GymApplication.Models

<h3>Hi there!</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Membership Management</h5>
                    <p class="card-text">Manage your gym's membership with ease.</p>
                    <a href="/membership" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Customer Management</h5>
                    <p class="card-text">Keep track of your customers and their information.</p>
                    <a href="/customers" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Staff Management</h5>
                    <p class="card-text">Manage your staff and their schedules.</p>
                    <a href="/staff" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Billing Management</h5>
                    <p class="card-text">Manage your gym's billing and payment system.</p>
                    <a href="/billing" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
