@page "/"
@inject NavigationManager navigationManager

<h3>Startup</h3>

Loading....

@code {
	protected async override Task OnInitializedAsync()
	{
		await Task.Run(() => navigationManager.NavigateTo("/login"));
	}
}